// *************************************
//
//   Mixins
//
// *************************************

// -------------------------------------
//   Variables
// -------------------------------------




// -------------------------------------
//   Base
// -------------------------------------

@mixin calc($property, $expression) {
    #{$property}: -moz-calc(#{$expression});
    #{$property}: -webkit-calc(#{$expression});
    #{$property}: calc(#{$expression});
}

@mixin text-align-center () {
		text-align: -webkit-center;
        text-align: -moz-center;
        text-align: -ms-center;
        text-align: -o-center;
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}
@mixin animation($animate...) {
    $max: length($animate);
    $animations: '';

    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};

        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }
    -webkit-animation: $animations;
    -moz-animation:    $animations;
    -o-animation:      $animations;
    animation:         $animations;
}

@mixin transition($time:.3, $tFunction: ease){
  transition: all #{$time}s #{$tFunction};
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%; 
  transform: perspective(1px) translateY(-50%);
}

@mixin h-al-center() {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
