<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="UTF-8">
    <title>Farmacia de turno</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="css/icon-font.css">
    <link href='http://fonts.googleapis.com/css?family=Fjalla+One|Raleway:300,400,500,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/Estilo.css">
    <link rel="stylesheet" href="css/mq.css">
</head>

<body>
    <main class="main">
        <section class="header">
            <div class="wrapper">
                <h1>Farmacia de Turno</h1>
                <p class="fecha">Martes, 02 de Septiembre de 2014</p>
            </div>
        </section>
        <section class="sub-header">
            <div class="wrapper">
                <h3><strong> Servicio </strong> brindado para la <strong> comunidad</strong></h3>
            </div>
        </section>
        <section class="content">
            <div class="wrapper">
                <div class="info">
                    <h3 class="content-title">Farmacia de Turno</h3>
                    <div class="datos img">
                        <div class="img-logo">
                            <img src="img/logo.jpg" alt="">
                        </div>
                    </div>
                    <div class="datos farmacia">
                        <span class="icon-pil"></span>
                        <p class="nombre-farmacia">Farmacia Busilacchi</p>
                        <div><span class="icon-map"></span><span class="dato">Dirección:  <strong>  Dr. M. Moreno 1639</strong></span></div>
                        <div><span class="icon-phone"></span><span class="dato">Teléfono:  <strong>03464-480325</strong></span></div>
                    </div>
                    <a href="tel:03464480325" class="button call" onClick="return (navigator.userAgent.match(/Android|iPhone|iPad|iPod|Mobile/i))!=null;"><span class="icon-phone"></span> <span>480325</span></a>
                    <a href="https://plus.google.com/105114632617524182523/about?gl=ar&hl=es" class="button map"><span class="icon-location"></span>Mapa</a>
                </div>
                <div class="aside-publi"></div>
            </div>
        </section>
    </main>

    <footer>

    </footer>
    <script src="js/Java.js"></script>
</body>

</html>
