<div class="info">
    <h1>Puedes comunicarte con nosotros mediante:</h1>
    <div class="block-contact"><a href="mailto:ingcrocenicolas@outlook.com?subject=Contacto" id="sendMail" subtitle="Mail"><span class="icon-email"></span><span>ingcrocenicolas@outlook.com</span></a></div>

    <div class="block-contact"><a href="skype:nico_c123?chat" id="sendSkype" class="" subtitle="Skype"><span class="icon-skype"></span><span>nico_c123</span></a></div>

    <div class="block-contact"><a href="tel:+5493464510474" id="sendPhone" class="" subtitle="Phone"><span class="icon-mobile"></span><span>(03464) 15-510 474</span></a></div>
</div>