<div class="info header-section">
    <!-- <h3 class="content-title">Farmacia de Turno</h3> -->
    <div><span class="icon-pil"></span><p class="nombre-farmacia">Farmacia Busilacchi</p></div>
    <div class="datos img"></div>
        <!-- <div class="img-logo"> -->
            <!-- <img src="./img/logo.jpg" alt=""> -->       
    <div class="datos farmacia">
        <div><span class="icon-map"></span><span class="dato">Dirección:  </span><span class="text"> Dr. M. Moreno 1639</span></div>
        <div><span class="icon-phone"></span><span class="dato">Teléfono:  </span><span class="text">03464-480325</span></div>
    </div>
    <a class="link call" href="tel:03464480325"><button class="ripple button animation" onClick="return (navigator.userAgent.match(/Android|iPhone|iPad|iPod|Mobile/i))!=null;"><span class="icon-phone"></span> <span>480325</span></button></a>
    <a class="link map" href="https://plus.google.com/105114632617524182523/about?gl=ar&hl=es" target="_blank"><button class="button ripple"><span class="icon-location"></span><span> Mapa</span></button></a>
</div>