<div class="info telefonos header-section">
	<div class="header-tabla-telefonos">
		<div id="principales" class="button bt-instituciones active">Principales</div>
		<div id="roticerias" class="button bt-instituciones">Roticerías</div>
		<div id="remises" class="button bt-instituciones">Remises</div>
	</div>
    <div class="tabla-telefonos content-table">
		<table id="telPrincipales">
		
		</table>
		<table id="telRemises">
		
		</table>
		<table id="telRoticerias">
		
		</table>
	</div>
	<!-- <div class="sombra-inferior"></div> -->
</div>