// *************************************
//
//   Media queries
//
// *************************************

// -------------------------------------
//   Variables
// -------------------------------------

$mediaquery_desktop: 1280px;
$mediaquery_tablets: 1024px;
$mediaquery_tablets--portrait: 768px;
$mediaquery_phones: 600px;
$mediaquery_phones-small--portrait: 480px;



// -------------------------------------
//   Base
// -------------------------------------

@media screen and (max-width: 1024px) {
    .wrapper { width: 90% }
    // .info {
    //     &.colectivos .tabla-horarios { height: 220px; }
    // }
    // .main  {
    //     &.bus-section .sub-header .botones-destinos {
    //         right: 25%;
    //     }
    //}
}

@media screen and (max-width: 800px) {
    body {
    	.aside-publi { display: none; }
        // main { min-height: 860px; }
        
        
            &.options-open .main { 
                transform: translate3d(-40%, 0, 0);
            }
            &.options-close .main {
                transform: translate3d(0, 0, 0);;
                // @include opacity(1);
            }

        .options { width: 40%; }

        .content .cambio-info {
            .info { 
            	width: 100%;            
                .datos {
                	.img { margin-top: 5%; }
                	.farmacia { 
                		margin-top: 5%; 
            			div:last-child { display: none; }
            			.icon-pil { float: left; margin-top: 1%; }
            			.nombre-farmacia { width: 85%; }
                	}
                	div .dato strong { width: 100%; display: table-row; line-height: 2; }
                }

                .button.map { width: 100%; padding: 3% 0; margin: 0; position: relative; font-size: 1.3em; display: inline-block;}

                &.colectivos .sombra-inferior { margin-top: 2px; }
        	}
        }

        .main  {
            &.bus-section .sub-header .botones-destinos {
                margin-left: 15%;
            }
            .publi-mayor { display: none; }
            footer {
                height: 320px;
                div[class*="img-footer"] {
                    height: 50%;
                    @include span (1/3);
                }
            }
        }
        .publi-mayor-mobile { 
            transition: opacity 1s ease;
            display: block; position: fixed; top: 0; left: 0; bottom: 0; right: 0; height: 100%; width: 100%; z-index: 200; 
            .publicidad-1 { height: 100% }
        }
    }
}  

@media screen and (max-width: 800px) and (orientation: landscape) {
    body { font-size: 12px; 
        .header .fecha { margin-right: 5%; }
        .main-menu { width: 25px; top: 15px; right: 15px; 
            div {height: 2px; }
        }

        .content .cambio-info {
            height: calc(100% - 90px);
        }

        .main footer {
                height: 108px;
                div[class*="img-footer"] {
                    height: 100%;
                    @include span (1/6);
                }
            }
    }
}

@media screen and (max-width: 600px) {

    body {
        
        .main-menu { width: 25px; top: 15px; right: 15px; 
            div {height: 2px; }
        }
        .main, .options { min-height: 400px; font-size: 0.75em;}
        
        .options { width: 84%; font-size: 1em;
            section div li:first-child { padding: 3.25em 0; border: 0; }
            section div li:last-child a { height: 30px; }
        }
        
        &.options-open .main { 
            transform: translate3d(-84%, 0, 0);
        }
        &.options-close .main {
            transform: translate3d(0, 0, 0);
            opacity: 1;
        }
        
        .main { 
            min-height: 560px;
            &.bus-section .sub-header {
                h3 { display: none; }
                .botones-destinos {
                        width: auto; margin: 0 auto; display: table;
                    .destinos { 
                        padding: 5px 15px; width: auto; margin: 5px;
                    }
                }

            }

            .content {
                // height: calc(100% - 123px);
                .cambio-info {
                    padding: 15px; margin: 0;
                    .info {
                        .link {
                            width: 100%;
                            .button { width: 100%; }
                            &.call { position: absolute; bottom: 20%; left: 0; display: block;
                                .button { background: #BF360C; }
                            }
                            
                        }

                        .datos {
                            &.img { height: 60px; background-position-x: 5px; }
                            &.farmacia {
                                font-size: 1.5em; margin: 1em 0;
                                .icon-pil { vertical-align: top; display: inline-table; width: 0; margin-top: 5px; }

                                div {
                                    span{ display: inline-block;
                                        .text { display: block; }
                                    }
                                    &:last-child { display: none; }
                                }
                            }
                        }

                        // &.colectivos .tabla-horarios { height: calc(100% - 27px); }

                        &.telefonos div.header-tabla-telefonos .bt-instituciones { padding: 10px; margin-right: -3px; }
                    }
                }
                .publi-mayor { display: none; }
            }
            
            footer {
                height: 100px;
                div[class*="img-footer"] {
                    height: 100%;
                    @include span (1/2);
                    &.no-visible { display: none; }
                }
            }
        }
    }
}