<table>
	<tr>
		<td>Policía</td>
		<td><div><span class="icon-phone"></span><span class="dato"><strong>03464-480325</strong></span></div></td>
		<td><div><span class="icon-location"></span><span class="dato"><strong>Ruta 33</strong></span></div></td>
	</tr>
	<tr>
		<td>Hospital</td>
		<td><div><span class="icon-phone"></span><span class="dato"><strong>03464-480325</strong></span></div></td>
		<td><div><span class="icon-location"></span><span class="dato"><strong>Ruta 33</strong></span></div></td>
	</tr>
	<tr>
		<td>Bomberos</td>
		<td><div><span class="icon-phone"></span><span class="dato"><strong>03464-480325</strong></span></div></td>
		<td><div><span class="icon-location"></span><span class="dato"><strong>Ruta 33</strong></span></div></td>
	</tr>
	<tr>
		<td>Biblioteca</td>
		<td><div><span class="icon-phone"></span><span class="dato"><strong>03464-480325</strong></span></div></td>
		<td><div><span class="icon-location"></span><span class="dato"><strong>Ruta 33</strong></span></div></td>
	</tr>
</table>