.info {
	text-align: left; width: 70%;
	h1 { margin-bottom: 5%; color: #263238; }
	h3 { display: inline; color: #37474F; }
	.main-menu.home { position: initial; display: inline-block; margin: 10px 0 0 10px; }
}
